div{
    border-radius: 15px;
}
.para1{
    padding: 15px;
}
img{
    border: 2px solid black;
    border-radius: 15px;
}
.topHeading{
    background-color: lightblue;
    color: darkblue;
    font-size: 22px;
    text-align: center;
    padding: 14px 16px;
}
th{
    background-color: darkblue;
    color: white;
    text-align: center;
}
td{
    text-align: center;
}
.contact{
    background-color: darkblue;
    padding: 15px;
    border-radius: 15px;
}
input,textarea,button{
    margin: 8px 0;
}
.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbg{
    background-color: rgb(161, 135, 135);
}
.footer-hr{
    border: 1px solid white;
}

.header{
    width: 100%;
    height: 100vh;
}
.background-image{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-image: url(../images/cars/aventador-in-dark-2560x1440-wallpaper-7963.jpg);
}